.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

@media (max-width: $responsive-tablet) {
    .container {
        width: 80%;
    }
}