.container {
  padding: $spacing-md 0;
  max-width: 30%;
}

.option {
  display: block;
  height: 30px;
  line-height: 30px;
}

.next_btn {
  margin: $spacing-sm 0;
}

@media (max-width: $responsive-tablet) {
  .container {
    padding: $spacing-md;
    max-width: 100%;
  }
}
