$spacing-xss: 3px;
$spacing-xs: 6px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-subtitle: 16px;
$font-size-paragraph: 13px;
$font-size-small: 11px;

$color-primary: #14274e;
$color-secondary: #394867;
$color-green: #4caf50;
$color-gray: #9ba4b4;
$color-gray-light: #f1f6f9;
