.container {
    display: flex;
    margin-bottom: $spacing-sm;
    border: 1px solid $color-gray-light;
    border-radius: 6px;
    position: relative;
}

.thumbnail {
    position: relative;
    width: 90px;
    height: 100px;
    
    img {
        border-radius: 6px 0 0 6px;
    }
}

.information {
    flex-grow: 1;
    padding: $spacing-xs $spacing-sm;
}

.price {
    color: $color-secondary;
    padding: $spacing-xs $spacing-sm;
}

.counter {
    width: 50px;
}

.delete {
    position: absolute;
    cursor: pointer;
    font-size: $font-size-h4;
    color: $color-secondary;
    bottom: $spacing-sm;
    right: $spacing-sm;
}