.container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.list {
    margin-top: $spacing-md;
}

@media (max-width: $responsive-tablet) {
    .container {
        max-width: 100%;
        padding: $spacing-md;
    }
}